/* MAP */

.content {
	padding: 0 !important;
}

.col-md-6 {
	margin-left: 0;
	width: 100%;
	height: auto;
}

#wp-posts-carousel-1547913142 {
	position: relative !important;
	height: 500px !important;
}

#alt {
	position: relative;
	height: 600px !important;
	width: 100%;
	margin: 0;
	padding: 0;
}

#map{
    position: absolute;
    height:600px;
    width:100%;
    overflow: hidden;
    left:0;
    top:0;
	  z-index: 10;
}

#right-panel {
    display: none; 
}

#filterButtons {
  position: absolute;
	top: 10px;
  height:auto;
  width:200px;
	z-index: 1000;
}

.mapButton {
	width: 200px;
	padding: 15px;
	margin: 2px  0 2px 10px;
	background-color: #c51a31;
	font-family: "Graphik-Semibold", Gill Sans, Arial;
	font-size: 12pt;
	color: #f2cec6;
}

.mapButton#bysykkelbutton, .mapButton#spisestedbutton {
	margin: 8px 0 2px 10px !important;
}

@media only screen and (max-width: 1100px) {
  #filterButtons{
  position: absolute;
  top: auto;
  bottom: 7px;
  left: 1.5%;
  height:auto;
  width:100%;
  z-index: 1000;
}
  #filterButtons label {
	width: 48%;
	margin: 3px 1px;
  }
}

input.chk-btn:not(.checked)+label:hover, 
input.chk-btn+label:active, input.chk-btn:checked+label{
    background-color: #1f2738;
	color: #efcbc4;
}

input.info-btn, input.chk-btn{
    display: none;
}

input.info-btn + label[for=moreInfo]{
    margin: auto;
    position: relative;
    z-index:200;
    background: red;
    cursor: pointer;
    width:80px;
    height:10px;
    padding:10px;
    border:1px solid black;
}

input.info-btn:not(.checked)+label[for=moreInfo]:hover{
    box-shadow: 0 1px 3px;
    left:0;
}

input.info-btn+label[for=moreInfo]:active, input.info-btn:checked+label[for=moreInfo]{
    box-shadow: 0 0 3px inset;
    background: #870401;
}